*, *::after, *::before {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* make sticky footer  -- start */
html, body {
  height: 100%;
}

body {
  font-family: $mon;
  display: flex;
  flex-direction: column;
  background-color: #fdfffc;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}
/* make sticky footer  -- end */

img {
  max-width: 100%;
  height: auto;
}

ul{
  text-decoration: none;
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
  display: none;
}

/* prevents the modal' transition occuring on page load */
.preload * {
 -webkit-transition: none !important;
 -moz-transition: none !important;
 -ms-transition: none !important;
 -o-transition: none !important;
}
