/* Colors */
$yellow: #eec643;
$white: #fffbfb;
$lightRed: #ec1c3e;
$darkRed: #C80928;
$lightGray: #F1F1F1;
$mediumGray: #6D6966;
$textBlack: #2F2C2A;



/* Fonts */
$mon: 'Montserrat', sans-serif;
$script: 'Kaushan Script', cursive;
