.btn{
  color: #fff;
  background-color: crimson;
  font-size: .875em;
  line-height: 2.8;
  box-shadow: none!important;
  outline:0;
  transition:1s ease all;

  &:hover{
    color: #ffffff;
    background-color: $darkRed;
  }

  &--reservation{
    text-align: center;
    padding: .1rem 1.9rem;
    border: none;
    cursor: pointer;
    margin-bottom: 80px;
    margin-top: -20px;

    @media screen and (min-width: 1024px){
      margin-top: -30px;
    }

  }

  &--footer{
    text-align: center;
    padding: 1px 45px;
    border: none;
    cursor: pointer;
    margin-top: 30px;

    @media screen and (min-width: 1024px){
      margin-top: 5px;
    }

  }

  &--success{
    background-color: #0DAB0B;
    color: #ffffff;

    &:hover{
      background-color: #0DAB0B;
      color: #ffffff;
    }
  }


}
