.footer{
  text-align: center;
  margin: 50px 0 0 0;
  border-top: 1px solid $lightGray;

  &__text-content{

    @media screen and (min-width: 1082px){
      margin-bottom: 90px;
    }

    p {
      margin: 0 0 5px 0;
      line-height: 1.6;
    }

  }


}
