.generic-content-container{
  font-size: responsive 16px 30px;
  text-align: center;
  line-height: 1.8;
  font-weight: 400;
  color: $textBlack;
  margin-left: auto;
  margin-right: auto;

  &--about{
    margin-top: 20px;
    margin-bottom: 35px;

    @media screen and (min-width: 554px){
      width: 500px;
    }

    @media screen and (min-width: 600px){
      margin-top: 30px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 681px){
      width: 600px;
      margin-bottom: 55px;
    }

    @media screen and (min-width: 769px){
      width: 700px;
      margin-bottom: 75px;
    }

    @media screen and (min-width: 950px){
      width: 700px;
      margin-top: 55px;
      margin-bottom: 75px;
    }

    @media screen and (min-width: 1026px){
      width: 800px;
      margin-top: 70px;
      margin-bottom: 45px;
    }

    @media screen and (min-width: 1082px){
      width: 800px;
    }

    @media screen and (min-width: 1201px){
      width: 900px;
      margin-bottom: 55px;
    }

    @media screen and (min-width: 1367px){
      width: 1000px;
      margin-bottom: 75px;
    }

    @media screen and (min-width: 1388px){
      width: 1200px;
      margin-bottom: 35px;
    }

  }

  &--reservation{
    font-size: responsive 16px 18px;

    @media screen and (min-width: 945px){
      margin: 0 auto 35px auto;
      width: 80%;
    }

  }

}
