.generic-content-container{
  /* margin: 30px 0; */

  @media screen and (min-width: 945px){
    margin: 110px 0 80px;
  }

  p{
    font-size: responsive 16px 30px;
    text-align: center;
    font-weight: 400;
    line-height: 1.9;
    margin: 15px auto;
    color: #2F2C2A;


    @media screen and (min-width: 714px){
      width: 650px;
    }

    @media screen and (min-width: 802px){
      line-height:2;
      width: 750px;
    }

    @media screen and (min-width: 1000px){
      line-height:2;
      width: 900px;
    }

    @media screen and (min-width: 1388px){
      line-height:1.6;
      width: 1200px;
    }

  }

}
