.generic-content-container{
  margin: 16px 0 30px;

  @media screen and (min-width: 945px){
    margin: 110px 0 80px;
  }

  &--about{
    /* margin: 33px 0 50px; */
  }

  p{
    font-size: responsive 16px 30px;
    text-align: center;
    font-weight: 400;
    line-height: 1.9;
    margin: 15px auto;
    color: #2F2C2A;


    @media screen and (min-width: 714px){
      width: 650px;
    }

    @media screen and (min-width: 802px){
      line-height:2;
      width: 750px;
    }

    @media screen and (min-width: 1000px){
      line-height:2;
      width: 900px;
    }

    @media screen and (min-width: 1388px){
      line-height:1.6;
      width: 1200px;
    }

  }

  &--reservation{
    margin: 0 0 40px 0;

    font-size: responsive 16px 18px;

    font-weight: 400;
    /* line-height: 1.6; */
    line-height: 1.9;
    color: #2F2C2A;
    text-align: center;

    @media screen and (min-width: 678px){
      /* text-align: center; */
    }

    @media screen and (min-width: 945px){
      margin: 0 auto 70px auto;
      width: 80%;
    }
  }

}
