.heading{
  text-align: center;
  font-size: responsive 30px 40px;
  padding-bottom: 50px;
  font-weight: 400;

  &--menu{
    /* padding-bottom: 120px; */
    /* margin-bottom: 70px; */
    margin-bottom: 46px;
    margin-top: 46px;
  }

  &--reviews{
    margin-top: 15px;
    margin-bottom: 30px;
    padding-bottom: 0;
    /* line-height: 1; */
  }

  &--reservation{
    padding-bottom: 10px;
  }



}
