.menu{

  &__container{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 945px){
      flex-direction: row;
      justify-content: space-between;
      margin-top: -40px;
    }

    @media screen and (min-width: 1082px){
      margin-top: -24px;
    }
  }

  &__type{
    font-size: responsive 25px 30px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    margin-top: 10px;
  }

  &__item{
    margin: 0 0 25px;

    @media screen and (min-width: 945px){
      margin: 0 0 35px;
    }
  }

  & h5{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: $textBlack;
    margin-top: -20px;
    margin-bottom: 19px;
  }

  &__description{
    margin: 8px auto 15px;
    line-height: 1.7;
    text-align: center;
    color: $mediumGray;
    font-size: responsive 15px 16px;

    @media screen and (min-width: 483px){
      width: 400px;
    }

    @media screen and (min-width: 483px){
      width: 300px;
    }

  }

  &__price{
    text-align: center;
    color: $textBlack;
    padding-bottom: 30px;
  }

  &__divider{
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: #D5D2D1;
    margin-top: 30px;
    margin-bottom: 50px;

    @media screen and (min-width: 934px){
      margin-top: 50px;
    }
  }

}
