.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out;

  &--is-visible{
    opacity: 1;
    visibility: visible;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__img {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
      background-color: #fff;
      padding: 10px;
    }
  }

  &__content {
    background-color: #fff;
    color: $textBlack;
    text-align: center;
    padding: 35px 10px;
    position: relative;

    @media screen and (min-width: 768px) {
      padding: 10px 10px;
    }

    @media screen and (min-width: 1119px) {
      padding: 40px 50px;
    }
  }

  &__show-logo {
    margin-top: -12px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__hide-logo {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline;
    }
  }

  &__heading {
    font-size: responsive 20px 34px;
    font-weight: 400;
    margin: 0px auto 17px;

    @media screen and (min-width: 1262px) {
      width: 550px;
    }

    @media screen and (min-width: 1262px) {
      margin-top: 10px;
    }
  }

  &__description {
    font-size: responsive 16px 21px;
    margin: 0 auto 30px;

    @media screen and (min-width: 964px) {
      width: 400px;
      margin-top: 40px;
      margin-bottom: 50px;
    }

    @media screen and (min-width: 1119px) {
      width: 450px;
      margin-top: 50px;
      margin-bottom: 60px;
    }

    @media screen and (min-width: 1262px) {
      margin-top: 50px;
      margin-bottom: 60px;
    }
  }

  &__detail-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
  }

  &__detail {
    text-transform: uppercase;
    font-size: responsive 16px 17px;

    & p {
      font-weight: 600;
    }
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer;
    color: $textBlack;
    transition: 1s ease all;

    &:hover{
      color: $lightRed;
    }
  }

}
