.restaurant-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.4;
  color: #2F2C2A;
  margin-top: 20px;
  font-size: responsive 15px 17px;
  font-weight: bold;
  padding: 10px 10px 0px 10px;

  @media screen and (min-width: 950px){
    flex-direction: row;
    justify-content: space-between;
    margin-top: -13px;
  }

  @media screen and (min-width: 1024px){
    padding: 0 20px 5px 20px;
    margin-top: -1px;
  }

  @media screen and (min-width: 1082px){
    padding-left:70px;
    padding-right:70px;
    margin-top: -66px;
  }

  @media screen and (min-width: 1921px){
    margin-top:-58px;
  }

  &__time-and-number{

    @media screen and (min-width: 950px ){
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
    }

  }

  &__number{

    @media screen and (max-width: 949px ){
      margin-top: -14px;
    }

  }


}
