.reviews{
  margin: 0 0 30px 0;

  @media screen and (min-width: 945px){
    margin: 80px 0 100px;
  }

  &__container{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 945px){
      flex-direction: row;
      align-items: center;
    }
  }

  &__statements{
    
    @media screen and (min-width: 945px){
      width: 95%;
      margin-left: 20px;
    }

  }

  & q{
    /* line-height: 1.5; */
    line-height: 1.4;
    font-size: responsive 16px 34px;
    color: #2F2C2A;
  }

  &__quotes p{
    margin-top: 15px;
    text-align: right;
  }

}
