.reviews{
  margin-top: -21px;
  margin-bottom: 27px;

  @media screen and (min-width: 945px){
    margin-top: 6px;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1298px){
    margin-top: 20px;
    margin-bottom: 42px;
  }

  &__container{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 945px){
      flex-direction: row;
      align-items: center;
    }
  }

  &__statements{

    @media screen and (min-width: 945px){
      width: 95%;
      margin-left: 20px;
    }

  }

  & q{
    line-height: 1.5;
    font-size: responsive 16px 30px;
    color: #2F2C2A;
  }

  &__quotes p{
    margin-top: 11px;
    text-align: left;
  }

}
